{% extends "base.html.twig" %}

{% block carousel %}{% endblock %}

{% block content %}
<!-- Three columns of text below the carousel -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">PRÉSENTATION</h2><br>  
                <p class="lead">CERTIFICAT DE PRODUITS BIOCIDES: N° 039567.</p>
                <p class="lead">Obtenu le 10/11/2021.</p>
                <p class="lead">• Destruction de nids de guêpes.</p>
                <p class="lead">• Destruction de nids de frelons (européens et asiatiques).</p>
                <p class="lead">• Elimination de fourmilières.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ asset('assets/img/gf.jpg')}}" class="img-fluid" alt="un frelon">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Les Guêpes.</h2><br>
                <p class="lead">Le mot guêpe désigne plusieurs sortes d'insectes hyménoptères ayant généralement un abdomen jaune rayé de noir et dont la femelle porte un dard venimeux.</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('assets/img/gf.jpg')}}" class="img-fluid" alt="une guêpe">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Les Frelons.</h2><br>  
                <p class="lead">Pouvant atteindre 45 millimètres de longueur, les frelons sont les plus grands insectes eusociaux.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ asset('assets/img/gf.jpg')}}" class="img-fluid" alt="un frelon">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Les Fourmis.</h2><br>
                <p class="lead">Les fourmis se distinguent morphologiquement des autres hyménoptères aculéates principalement par des antennes avec un coude marqué très long et flexible.</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('assets/img/gf.jpg')}}" class="img-fluid" alt="une fourmi">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Les Frelons.</h2><br>  
                <p class="lead">Pouvant atteindre 45 millimètres de longueur, les frelons sont les plus grands insectes eusociaux.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ asset('assets/img/gf.jpg')}}" class="img-fluid" alt="un frelon">
            </div>
        </div>

        
{% endblock %}